{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block body_class %}home-page{% endblock %}

{% block header %}

{% endblock header %}

{% block outter_content %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center section-landing">
				<div class="row">
					{% with page.get_children.live as pages %}
						{% for page in pages %}
							{% image page.specific.thumbnail fill-180x180 as theimage %}
							<div class="col-md-4">
								<div class="info">
									<div class="icon icon-primary">
										<a href="{% pageurl page %}">
											<img src="{{ theimage.url }}" alt="{{ theimage.alt }}" />
										</a>
									</div>
									<h4 class="info-title">
										<a href="{% pageurl page %}">
											{{ page.title }}
										</a>
									</h4>
								</div>
							</div>
						{% endfor %}
					{% endwith %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
