{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags pages_tags %}

{% block body_class %}simple-page{% endblock %}

{% block outter_content %}
	<div class="main main-raised">
		<div class="container">
			<div class="section text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title" style="visibility:hidden;">{{ self.title }}</h2>
                        {% if self.intro %}
                            {{ self.intro|richtext }}
                        {% endif %}
                    </div>
                </div>
                {% if self.content %}
                    {% include "pages/includes/streamfield.html" with content=self.content %}
                {% endif %}
			</div>
		</div>
	</div>
{% endblock %}
