.category-page .btn-default {
  background-color: rgb(18, 130, 180);
}

.simple-page .section{
  padding-top: 40px;
}

.simple-page h2.title {
  margin: 0;
}

.dentists-page h2, .category-page h2{
  font-size: 24px;
  color: rgb(18, 130, 180);
  margin-bottom: 0;
}

.dentists-page h2, .dentists-page h4, .dentists-page .intro,
.simple-page h2.title, .simple-page .page-body, .simple-page .rich-text p  {
  text-align: left;
}

.dentists-page h2{
  margin-bottom: 0;
}

.dentists-page .intro{
  margin-top: 20px;
}

.dentists-page .timestamp, .category-page .timestamp{
  font-size: 0.8em; color: grey;
}

.simple-page .page-body img{
  max-width: 100%;
  height:auto;
}

.dentists-page .card {
  margin-bottom: 12px;
  border-bottom: 1px solid #cccccc;
  box-shadow: none;
}

.category-page .title-row{
    padding-bottom: 40px;
}

.category-page .title-row, .dentists-page .title-row{
    border-bottom: 1px solid #CFE3DC;
    margin-bottom: 40px;
}

.category-page h3.title, .category-page h3.title a {
  font-size: 16px;
  color: rgb(18, 130, 180);
  margin: 0;
}

.category-page .intro{
  font-size: 12px;
}

.category-page .card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 8px 0 0 0;
    position: relative;
    background: transparent;
}

.category-page .card-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}

