.category-page .btn-default {
  background-color: rgb(18, 130, 180);
}

.home-page .row{
   margin: 0 0 10px 0;
}

.home-page .four-col-img {
   padding: 0 2px;
   line-height: 12px;
}

.home-page .four-col-img-item .img-container{
   padding: 15px;
}

.home-page .three-col-img {
   padding: 0 2px;
   line-height: 12px;
   background-color: rgb(18, 130, 180);
   border: 2px solid white;
}

.home-page .three-col-img .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .three-col-img-item .img-container{
   padding: 10px;
}

.home-page .three-col-link {
   line-height: 12px;
   background-color: orange;
   border: 2px solid white;
}

.home-page .three-col-link .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .footer-item{
    background-color: rgb(18, 130, 180);
    padding-bottom: 10px;
    padding: 0 2px;
    line-height: 12px;
}

.home-page .footer-item .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .footer-item .img-container{
   padding: 30px 30px 5px 30px;
}

.home-page .footer-item .link-text{
   padding: 0 0 30px 0; 
}


.simple-page .section{
  padding-top: 40px;
}

.simple-page h2.title {
  margin: 0;
}

.dentists-page h2, .category-page h2{
  font-size: 24px;
  color: rgb(18, 130, 180);
  margin-bottom: 0;
}

.dentists-page h2, .dentists-page h4, .dentists-page .intro,
.simple-page h2.title, .simple-page .page-body, .simple-page .rich-text p  {
  text-align: left;
}

.dentists-page h2{
  margin-bottom: 0;
}

.dentists-page .intro{
  margin-top: 20px;
}

.dentists-page .timestamp, .category-page .timestamp{
  font-size: 0.8em; color: grey;
}

.simple-page .page-body img{
  max-width: 100%;
  height:auto;
}

.dentists-page .card {
  margin-bottom: 12px;
  border-bottom: 1px solid #cccccc;
  box-shadow: none;
}

.category-page .title-row{
    padding-bottom: 40px;
}

.category-page .title-row, .dentists-page .title-row{
    border-bottom: 1px solid #CFE3DC;
    margin-bottom: 40px;
}

.category-page h3.title, .category-page h3.title a {
  font-size: 16px;
  color: rgb(18, 130, 180);
  margin: 0;
}

.category-page .intro{
  font-size: 12px;
}

.category-page .card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 8px 0 0 0;
    position: relative;
    background: transparent;
}

.category-page .card-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}

