body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  font-family: "微软雅黑";
}

.category-page .btn-default {
  background-color: rgb(18, 130, 180);
}

.home-page .row{
   margin: 0 0 10px 0;
}

.home-page .four-col-img {
   padding: 0 2px;
   line-height: 12px;
}

.home-page .four-col-img-item .img-container{
   padding: 15px;
}

.home-page .three-col-img {
   padding: 0 2px;
   line-height: 12px;
   background-color: rgb(18, 130, 180);
   border: 2px solid white;
}

.home-page .three-col-img .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .three-col-img-item .img-container{
   padding: 10px;
}

.home-page .three-col-link {
   line-height: 12px;
   background-color: orange;
   border: 2px solid white;
}

.home-page .three-col-link .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .footer-item{
    background-color: rgb(18, 130, 180);
    padding-bottom: 10px;
    padding: 0 2px;
    line-height: 12px;
}

.home-page .footer-item .link-text{
  color: white;
  padding: 12% 0;
}

.home-page .footer-item .img-container{
   padding: 30px 30px 5px 30px;
}

.home-page .footer-item .link-text{
   padding: 0 0 30px 0;
}


.simple-page .section{
  padding-top: 40px;
}

.simple-page h2.title {
  margin: 0;
}

.dentists-page h2, .category-page h2{
  font-size: 24px;
  color: rgb(18, 130, 180);
  margin-bottom: 0;
}

.dentists-page h2, .dentists-page h4, .dentists-page .intro,
.simple-page h2.title, .simple-page .page-body, .simple-page .rich-text p  {
  text-align: left;
}

.dentists-page h2{
  margin-bottom: 0;
}

.dentists-page .intro{
  margin-top: 20px;
}

.dentists-page .timestamp, .category-page .timestamp{
  font-size: 0.8em; color: grey;
}

.simple-page .page-body img{
  max-width: 100%;
  height:auto;
}

.dentists-page .card {
  margin-bottom: 12px;
  border-bottom: 1px solid #cccccc;
  box-shadow: none;
}

.category-page .title-row{
    padding-bottom: 40px;
}

.category-page .title-row, .dentists-page .title-row{
    border-bottom: 1px solid #CFE3DC;
    margin-bottom: 40px;
}

.category-page h3.title, .category-page h3.title a {
  font-size: 16px;
  color: rgb(18, 130, 180);
  margin: 0;
}

.category-page .intro{
  font-size: 12px;
}

.category-page .card .thumbnail {
    border: 0 none;
    padding: 0;
    margin: 8px 0 0 0;
    position: relative;
    background: transparent;
}

.category-page .card-info h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 22px;
}

.main .rich-text img.full-width {
    max-width: 100%;
    height: auto;
    width: auto;
}

.overlap-design {
  line-height:1.75em;
  color:#a1a1a1;
  font-size:14px;
}
.overlap-design h3.overlap-title {
  text-align: left;
  margin: 0;
}
.overlap-design h3.overlap-title .main-title {
  color: #3f3f3f;
}
.overlap-design h3.overlap-title sup.subtitle{
  font-size: 25%;
  position: relative;
  top: -2.5em;
  left:-2em;
  color: #3f3f3f;
}

@media (max-width: 767px)  {
  .overlap-design h3.overlap-title {
    font-size: 30px;
    margin: 0;
  }
  .overlap-design h3.overlap-title sup.subtitle{
    top: -1em;
    left:-0.8em;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .overlap-design h3.overlap-title {
    font-size: 50px;
    margin: 0;
  }
}

@media (min-width: 991px) {
  .overlap-design h3.overlap-title {
    font-size: 70px;
    margin: 0;
  }
  .overlap-design .overlap-text{
    margin-top: -2.5em;
  }

}
