{% load wagtailcore_tags wagtailimages_tags static %}


{% for child in content %}

    {% if child.block_type == 'page_title' %}
        <div class="row text-center page-title">
            <h3 class="main-title">{{ child.value.title }}</h3>
            <p class="subtitle">
                <span style="background-color:#fefefe">{{ child.value.subtitle }}</span>
            </p>
        </div>


    {% elif child.block_type == 'underline_title' %}
        <div class="underline-title-container">
            <div class="underline-title-main">
                <h2>{{ child.value.title }}</h2>
            </div>

            <h3 class="underline-title-sub">{{ child.value.subtitle }}</h3>
        </div>
    {% elif child.block_type == 'html_paragraph' %}
        <div class="row text-center html-paragraph">
            <div class="col-md-8 col-md-offset-2 html-paragraph-content">
                {{ child.value }}
            </div>
        </div>
    {% elif child.block_type == 'paragraph' %}
        <div class="row">
            <div class="col-md-12" style="padding:20px;">
                {{ child }}
            </div>
        </div>
    {% elif child.block_type == 'image_with_caption' %}
        {% image child.value.image width-800 as theimage %}
        <div class="row image-with-caption">
            <img class="the-img" src="{{ theimage.url }}" title="{{ child.value.caption }}" alt="{{ child.value.caption }}" />
            <section class="the-caption">
                <p class="the-caption-text">
                    {{ child.value.caption }}
                </p>
            </section>
        </div>

    {% elif child.block_type == 'html_quote' %}
        <div class="row">
            <div class="col-md-12 quote-container">
                <p class="quote html-quote">
                    {{ child.value }}
                </p>
            </div>
        </div>
    {% elif child.block_type == 'right_aligned_quote' %}
        <div class="row">
            <div class="right-quote-container">
                <div class="right-quote">
                    <div class="right-quote-inner">
                        <div style="width: 3em;height: 3em;box-sizing: border-box;">
                            <section style="width: 3em; border-top: 2px solid #ffc500; transform-origin: left top 0px; -webkit-transform-origin: left top 0px; -moz-transform-origin: left top 0px; -o-transform-origin: left top 0px; box-sizing: border-box;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);"></section>
                            <section style="width: 3em;height: 3em;margin-top: -1px;border-left: 2px solid #ffc500;border-top: 2px solid #ffc500;box-sizing: border-box;"></section>
                        </div>
                        <strong class="right-quote-text" style="">{{ child.value }}</strong>
                    </div>
                    <section style="width: 3em; height: 3em; margin-left: auto; border-right: 2px solid #ffc500; border-bottom: 2px solid #ffc500; box-sizing: border-box;"></section>
                </div>
            </div>
        </div>
    {% elif child.block_type == 'content_centered' %}
        <section class="content_centered">
            {{ child.value }}
        </section>
    {% else %}
        {{ child }}
    {% endif %}
{% endfor %}


