{% load wagtailcore_tags wagtailimages_tags static %}


{% for child in content %}

    {% if child.block_type == 'page_title' %}
        <div class="row text-center page-title">
            <h3 class="main-title">{{ child.value.title }}</h3>
            <p class="subtitle">
                <span style="background-color:#fefefe">{{ child.value.subtitle }}</span>
            </p>
        </div>
    {% elif child.block_type == 'html_paragraph' %}
        <div class="row text-center html-paragraph">
            <div class="col-md-8 col-md-offset-2 html-paragraph-content">
                {{ child.value }}
            </div>
        </div>
    {% elif child.block_type == 'paragraph' %}
        <div class="row">
            <div class="col-md-12" style="padding:20px;">
                {{ child }}
            </div>
        </div>
    {% elif child.block_type == 'html_quote' %}
        <div class="row">
            <div class="col-md-12 quote-container">
                <p class="quote html-quote">
                    {{ child.value }}
                </p>
            </div>
        </div>
    {% else %}
        {{ child }}
    {% endif %}
{% endfor %}
